@import './header.css';
@import './footer.css';
@import './styles.css';

/* About */
.about-article {
    display: flex;
    flex-direction: column;
    margin: 5% 25% 0% 25%;
}

.about-article h1 {
    margin-bottom: 5vh;
}
