@import './header.css';
@import './footer.css';
@import './styles.css';

/* About */

@media (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
        margin: 10% 10%;
        min-height: 80vh;
    }

    .image-container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 701px) {
    main {
        display: flex;
        flex-direction: column;
        margin: 10% 20%;
    }

    .image-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .image-container img:first-child {
        width: 55%;
        height: 100%;
        margin-right: 1vw;
    }

    .image-container img:last-child {
        width: 40%;
        height: 100%;
    }
}

.article-1, .article-2 {
    text-align: justify;
}

.article-1 h1 {
    margin: 0vh 0vw 4vh 0vw;
}

.text-container {
    padding-top: 4vh;
}