@import './header.css';
@import './footer.css';
@import './styles.css';

/* Contact */

table {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

table:hover {
    cursor: default;
}