footer {
    min-width: 310px;
    height: 35vh;
    align-items: center;
    background: black;
    color: white;
    cursor: default;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}

footer div img {
    height: 10vh;
}

footer div p {
    margin-top: 1vh;
    font-size: 1.2em;
    font-weight: 300;
}