@import './header.css';
@import './footer.css';
@import './styles.css';

/* Products */

@media (max-width: 700px) {
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0vh 2vw;
        padding: 1vh 0vh;
    }

    .filter-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1vh 3vw 2vh 3vw;
        border-bottom: 1px solid lightgray;
    }
}

@media (min-width: 701px) {
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0vh 20vw;
        padding: 1vh 0vw;
        cursor: default;
    }

    .product-card:hover {
        cursor: pointer;
        border-color: var(--dark-gray);
        transition: 350ms;
    }

    .filter-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1vh 3vw 2vh 3vw;
        border-bottom: 1px solid lightgray;
    }
}

article h1 {
    margin: 1vh 1vw;
}

.card-container {
    display: flex;
    flex-direction: row;
    padding: 2vh 0vw;
    overflow-x: auto;
}

.product-card {
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 0vh 1vw;
    transition: 350ms;
    text-decoration: none;
    color: black;
}

#card-text {
    font-weight: bold;
}

#card-image {
    border-radius: 3px 3px 0px 0px;
    height: 200px;
    width: 200px;
}

#card-first-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 0vw 0vh 1vw;
}

#card-second-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0vh 1vw;
    padding: 0vh 1vw 1vh 1vw;
}

#card-badge, #card-badge-sale, #card-badge-new {
    color: white;
    padding: 1px 5px;
    margin-right: 3px;
    border-radius: 2px;
}

#card-badge-sale {
    background-color: var(--sale-red);
}

#card-badge-new {
    background-color: var(--gold);
}

#card-price-before {
    text-decoration: line-through;
    color: lightgray;
    margin-right: 3px;
}