@import './header.css';
@import './footer.css';
@import './styles.css';

/* About us */

@media (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
        margin: 10% 10%;
        min-height: 80vh;
    }

    .image-container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 701px) {
    main {
        display: flex;
        flex-direction: column;
        margin: 5% 20% 10% 20%;
    }

    .image-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .image-container img:first-child {
        width: 60%;
        height: 100%;
        margin-right: 1vw;
    }

    .image-container img:last-child {
        width: 40%;
        height: 100%;
    }
}

.article-1-1, .article-1-2 {
    text-align: justify;
}

.article-1-1 h1 {
    margin: 0vh 0vw 4vh 0vw;
}

.text-container {
    padding: 4vh 0vw;
}

/* Contact info */

@media (max-width: 700px) {
    .article-2-1 h1 {
        margin-bottom: 2vh;
    }

    table {
        border-collapse: collapse;
    }

    .column-1 {
        font-weight: bold;
        padding: 0vh 1vw;
        width: 30vw;
        height: 7vh;
    }

    .column-2 {
        padding: 2vh 3vw;
    }

    #middle-row-1, #middle-row-2 {
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    iframe {
        border:0;
        margin-top: 5vh;
        width: 100%;
    }
}

@media (min-width: 701px) {
    .article-2-1 h1 {
        margin-bottom: 2vh;
    }

    table {
        margin: auto;
        width: 60vw;
        border-collapse: collapse;
    }

    .column-1 {
        font-weight: bold;
        padding: 0vh 1vw;
        width: 10vw;
        height: 7vh;
    }

    .column-2 {
        text-align: left;
        padding: 2vh 1vw;
    }

    #middle-row-1, #middle-row-2 {
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    iframe {
        border:0;
        margin-top: 5vh;
        width: 100%;
    }
}