header {
    min-width: 310px;
    margin-top: 1vh;
    border-bottom: 1px solid lightgray;
}

@media(max-width: 700px){
    header div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3vh 1vw 0vh 1vw;
    }

    nav ul {
        list-style: none;
        text-align: center;
        font-weight: 400;
        font-size: 1em;
        cursor: default;
    }
}

@media(min-width: 701px) {
    header div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0vh 1vw;
    }

    nav ul {
        list-style: none;
        text-align: center;
        font-weight: 400;
        font-size: 1.2em;
        cursor: default;
    }
}

header div img {
    height: 25px;
}

nav li {
    display: inline-block;
    margin: 0vw 1vw;
    padding: 2vh 0vh;
    border-bottom: 3px solid white;
}

nav li:hover {
    cursor: pointer;
    border-bottom: 3px solid black;
}

nav li a {
    color: black;
    text-decoration: none;
}